.redesign-pulpogames {
  background-color: #672e8c;
  width: 100%;
  min-width: 952px;
  min-height: 610px;
  display: flex;
  flex-direction: column;
}

.redesign-pulpogames .header {
  width: 952px;
  height: 80px;
  display: flex;
  gap: 32px;
  background-color: #672e8c;
}

.redesign-pulpogames .container {
  margin-top: 24px;
  width: 179.72px;
  margin-left: 48px;
  display: flex;
}

.redesign-pulpogames .pulpogames {
  margin-top: -1px;
  width: 182px;
  height: 32px;
  font-family: "Montserrat-BlackItalic", Helvetica;
  font-weight: 900;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.redesign-pulpogames .div {
  margin-top: 18px;
  width: 516.28px;
  height: 44px;
  position: relative;
}

.redesign-pulpogames .text-input {
  display: flex;
  width: 516px;
  height: 44px;
  align-items: center;
  padding: 10px 20px 10px 48px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid;
  border-color: #04bfad;
}

.redesign-pulpogames .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #e9d4ff80;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.redesign-pulpogames .icon {
  position: absolute;
  top: 13px;
  left: 16px;
  width: 18px;
  height: 18px;
}

.redesign-pulpogames .vector {
  position: absolute;
  width: 66.67%;
  height: 66.67%;
  top: 8.33%;
  left: 8.33%;
}

.redesign-pulpogames .img {
  position: absolute;
  width: 17.92%;
  height: 17.92%;
  top: 65.42%;
  left: 65.42%;
}

.redesign-pulpogames .container-2 {
  margin-top: 20px;
  width: 96px;
  height: 40px;
}

.redesign-pulpogames .main-content {
  width: 952px;
  height: 530px;
  position: relative;
}
